@{

}

    <head>

        <style>

    p {
        font-size: 22px;
        text-align: justify;
        text-indent: 20px;
        line-height: 40px;
    }



    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;

    </style>
    </head>

    <body>
                        
        <h1 align="left" style="color: lightgray;
        font-style: italic">Conheça Nossa História</h1>
        <hr />
        <main>

            <section>
                <p style="font-style: italic;
        color: dodgerblue">
                    > Visando a saúde, bem-estar e melhoria de vida das pessoas, o ToRegister é um dos sites que mais cresce no território tupiniquim. Criado pelo visionário engenheiro Arthur Moura Dos Santos, em 2019, com objetivo de alertar a
                    população sobre os riscos de uma má alimentação e de um vida sedentária. O seu funcionamento é bem simples e inovador.
                    <br />
                <p style="        font-style: italic;
        color: dodgerblue">
                    > No momento em que o usuário registrar seu dados (como por exemplo: altura, peso..) será feito um calculo do IMC (índice De Massa Corporal) e logo em seguida um alerta será disparado. Se o
                    usuário estiver com um bom IMC, aparecerá na tela uma mensagem informando que o IMC está regular, caso contrário será enviado mensagem notificando o usuário de que seu IMC está alto e isso pode acarretar em sérios danos a sua saúde.
                </p>
                <br />

                <p style="        font-style: italic;
        color: dodgerblue">
                    > Todos os dados serão salvos no banco de dados podendo serem excluidos e editados quando necessário. Mas o que tem de novo no To Register ? O ToRegister foi criado para se torna uma rede social "fitness" onde os usuários poderiam
                    acessar alguns dados de outros usuários (Telefone, Nome, Altura e Peso. Somente Esses serão acessados.) e trocar informações, compartilhar experiências de mudanças de hábitos alimentícios e físicos e etc. Esse é o propósito do ToRegister.

                </p>

            </section>


        </main>

    </body>
